build
wasm

*.hxl
bin/*
!bin/CrossShader.js
!bin/CrossShader.wasm

tests
coverage
docs
!docs/cover.jpg
assets
src
external
examples

CMakeLists.txt
.clang-format
.flowconfig
webpack.*.js
.travis.yml
.vscode
example
.gitmodules

!docs/cover.svg